<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MINOR PROJECT</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"> 

  <!-- Theme style -->
  <link rel="stylesheet" href="static/css/AdminLTE.min.css">
  <link rel="stylesheet" href="static/css/skins/_all-skins.min.css">
  
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div style="margin-left: 0px;" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 style="text-align: center;">
        Nepal Covid Analysis <br>
        <small>Prediction</small>
      </h1>
    
    </section>
  <div class="container">
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>200000</h3>

              <p>Total Cases</p>
            </div>
            <div class="icon">
              <img style="height: 60px; width: 55px; margin-right: 30px;margin-bottom: 20px;" src="static/img/virus.png" alt="!">
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">%</sup></h3>

              <p>Infected</p>
            </div>
            <div class="icon">
              <img style="height: 60px; width: 55px; margin-right: 30px;margin-bottom: 20px;" src="static/img/fever.png" alt="!">
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>44</h3>

              <p>Recovered</p>
            </div>
            <div class="icon">
              <img style="height: 60px; width: 55px; margin-right: 30px;margin-bottom: 20px;" src="static/img/smile.png" alt="!">
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>

              <p>Deaths</p>
            </div>
            <div class="icon">
              <img style="height: 60px; width: 55px; margin-right: 30px;margin-bottom: 20px;" src="static/img/sad.png" alt="!">

            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <br>

</body>
</html>
